﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ORMComparer2016.Resources.HomeRsc.Title</title>
    
    @Styles.Render(Links.Content.Url())

    @Scripts.Render(Links.Scripts.Url())

    <link rel="icon" type="image/png" href="@Links.Content.Images.favicon_png.Remove(0,1)" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ORMComparer2016.Resources.HomeRsc.ApplicationName, MVC.Home.Index(), new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="HomeLi">@Html.ActionLink(ORMComparer2016.Resources.HomeRsc.HomeLink, MVC.Home.Index())</li>
                    <li id="ORMLi">@Html.ActionLink(ORMComparer2016.Resources.HomeRsc.ORMLink, MVC.ORM.Index())</li>
                    <li id="AboutLi">@Html.ActionLink(ORMComparer2016.Resources.HomeRsc.AboutLink, MVC.About.Index())</li> 
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="content">
            @RenderBody()
        </div>

        <footer class="footer">
            <hr />
            <p>&copy; @DateTime.Now.Year <b>@ORMComparer2016.Resources.HomeRsc.Author</b> 
            <br/><i>@ORMComparer2016.Resources.HomeRsc.FooterThopic</i></p>
        </footer>
    </div>

</body>
</html>