﻿@model ORMComparer2016.ViewModel.Result.ResultVM

<div class="panel panelResult panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#summary">@ORMComparer2016.Resources.HomeRsc.Summary</a>
        </h4>
    </div>

    <div id="summary" class="panel-collapse">
        <div class="panel-body">
            <table style="width:40%; min-width:40%; float:left">
                <tr>
                    <td style="width:20%; min-width:150px">
                        Rodzaj testu:
                    </td>
                    <td style="width:20%; min-width:100px">
                        <b>@Model.TestKind</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        Ilość rekordów:
                    </td>
                    <td>
                        <b>@Model.RecordCount</b>
                    </td>
                </tr>

                <tr>
                    <td>
                        Liczba testów:
                    </td>
                    <td>
                        <b>@Model.TestCount</b>
                    </td>
                    <td></td>

                </tr>
            </table>

            <table class="table" style="text-align:center; float:left; width:50%;">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:center">NHibernate</th>
                        <th style="text-align:center">Entity Framework</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:30%; min-width:150px">
                            <b>@ORMComparer2016.Resources.HomeRsc.SQLServer</b>
                        </td>
                        @if (Model.NHibernateSQLServerAverage < Model.EntityFrameworkSQLServerAverage)
                        {
                            <td class="betterResult">
                                @Model.NHibernateSQLServerAverage
                            </td>
                            <td class="worstResult">
                                @Model.EntityFrameworkSQLServerAverage
                            </td>
                        }
                        else
                        {
                            <td class="worstResult">
                                @Model.NHibernateSQLServerAverage
                            </td>
                            <td class="betterResult">
                                @Model.EntityFrameworkSQLServerAverage
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <b>@ORMComparer2016.Resources.HomeRsc.MySQL</b>
                        </td>
                        @if (Model.NHibernateMySQLAverage < Model.EntityFrameworkMySQLAverage)
                        {
                            <td class="betterResult">
                                @Model.NHibernateMySQLAverage
                            </td>
                            <td class="worstResult">
                                @Model.EntityFrameworkMySQLAverage
                            </td>
                        }
                        else
                        {
                            <td class="worstResult">
                                @Model.NHibernateMySQLAverage
                            </td>
                            <td class="betterResult">
                                @Model.EntityFrameworkMySQLAverage
                            </td>
                        }
                    </tr>

                </tbody>
            </table>

            <br /><br />

            <div style="float:left">
                @if (@Math.Round((Model.EntityFrameworkSQLServerAverage.Ticks / (double)Model.NHibernateSQLServerAverage.Ticks), 2) == 1
                    || @Math.Round((Model.NHibernateSQLServerAverage.Ticks / (double)Model.EntityFrameworkSQLServerAverage.Ticks), 2) == 1)
                {
                    @: Wydajność NHibernate oraz Entity Framework naz bazie SQL Server jest porównywalna.
                }
                else if (Model.NHibernateSQLServerAverage < Model.EntityFrameworkSQLServerAverage)
                {
                    @: NHibernate jest wydajniejszy niż Entity Framework na bazie Microsoft SQL Server o około
                    <b>@Math.Round((Model.EntityFrameworkSQLServerAverage.Ticks / (double)Model.NHibernateSQLServerAverage.Ticks), 2) </b> @: raz(y)
                }
                else
                {
                    @: Entity Framework jest wydajniejszy niż NHibernate na bazie Microsoft SQL Server o około
                    <b>@Math.Round((Model.NHibernateSQLServerAverage.Ticks / (double)Model.EntityFrameworkSQLServerAverage.Ticks), 2) </b> @: raz(y)
                }

                <br />

                @if (@Math.Round((Model.EntityFrameworkMySQLAverage.Ticks / (double)Model.NHibernateMySQLAverage.Ticks), 2) == 1
                    || @Math.Round((Model.NHibernateMySQLAverage.Ticks / (double)Model.EntityFrameworkMySQLAverage.Ticks), 2) == 1)
                {
                    @: Wydajność NHibernate oraz Entity Framework bazie MySQL jest porówynywalna.
                }
                else if (Model.NHibernateMySQLAverage < Model.EntityFrameworkMySQLAverage)
                {
                    @: NHibernate jest wydajniejszy niż Entity Framework na bazie MySQL o około
                    <b>@Math.Round((Model.EntityFrameworkMySQLAverage.Ticks / (double)Model.NHibernateMySQLAverage.Ticks), 2)</b> @:raz(y)
                }
                else
                {
                    @: Entity Framework jest wydajniejszy niż NHibernate na bazie MySQL o około
                    <b>@Math.Round((Model.NHibernateMySQLAverage.Ticks / (double)Model.EntityFrameworkMySQLAverage.Ticks), 2) </b> @:raz(y)
                }

                <br/><br/>

                @if (@Math.Round((Model.NHibernateSQLServerAverage.Ticks / (double)Model.NHibernateMySQLAverage.Ticks), 2) == 1
                    || @Math.Round((Model.NHibernateMySQLAverage.Ticks / (double)Model.NHibernateSQLServerAverage.Ticks), 2) == 1)
                {
                    @: NHibernate jest tak samo wydajny na bazach MySQL oraz SQL Server.
                }
                else if (Model.NHibernateMySQLAverage < Model.NHibernateSQLServerAverage)
                {
                    @: NHibernate jest wydajniejszy na bazie danych MySQL w stosunku do SQL Server o około 
                <b>@Math.Round((Model.NHibernateSQLServerAverage.Ticks / (double)Model.NHibernateMySQLAverage.Ticks), 2) </b> @:raz(y)
                }
                else
                {
                    @: NHibernate jest wydajniejszy na bazie danych SQL Server w stosunku do MySQL o około
                    <b>@Math.Round((Model.NHibernateMySQLAverage.Ticks / (double)Model.NHibernateSQLServerAverage.Ticks), 2) </b> @:raz(y)
                }
                <br/>

                @if (@Math.Round((Model.EntityFrameworkSQLServerAverage.Ticks / (double)Model.EntityFrameworkMySQLAverage.Ticks), 2) == 1 
                    || @Math.Round((Model.EntityFrameworkMySQLAverage.Ticks / (double)Model.EntityFrameworkSQLServerAverage.Ticks), 2)==1)
                {
                    @: Entity Framework jest tak samo wydajny na bazach MySQL oraz SQL Server.
                }
                else if (Model.EntityFrameworkMySQLAverage < Model.EntityFrameworkSQLServerAverage)
                {
                    @: Entity Framework jest wydajniejszy na bazie danych MySQL w stosunku do SQL Server o około
                    <b>@Math.Round((Model.EntityFrameworkSQLServerAverage.Ticks / (double)Model.EntityFrameworkMySQLAverage.Ticks), 2) </b> @:raz(y)
                }
                else
                {
                    @: Entity Framework jest wydajniejszy na bazie danych SQL Server w stosunku do MySQL o około
                    <b>@Math.Round((Model.EntityFrameworkMySQLAverage.Ticks / (double)Model.EntityFrameworkSQLServerAverage.Ticks), 2) </b> @:raz(y)
                }

            </div>

        </div>
    </div>
</div>


<div class="panel panelResult panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#sqlServer">@ORMComparer2016.Resources.HomeRsc.SQLServer - Czasy</a>
        </h4>
    </div>

    <div id="sqlServer" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table" style="text-align:center">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:center">NHibernate</th>
                        <th style="text-align:center">Entity Framework</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.EntityFrameworkSQLServer.Count; i++)
                    {
                        <tr>
                            <td>
                                Test @(i + 1)
                            </td>

                            @if (Model.NHibernateSQLServer[i] < @Model.EntityFrameworkSQLServer[i])
                            {
                                <td class="betterResult">
                                    @Model.NHibernateSQLServer[i]
                                </td>
                                <td class="worstResult">
                                    @Model.EntityFrameworkSQLServer[i]
                                </td>
                            }
                            else
                            {
                                <td class="worstResult">
                                    @Model.NHibernateSQLServer[i]
                                </td>
                                <td class="betterResult">
                                    @Model.EntityFrameworkSQLServer[i]
                                </td>
                            }
                        </tr>
                    }

                    <tr>
                        <td>
                            <b>Średnia</b>
                        </td>
                        <td id="NHibernateSQLServerAvgId">
                            <b>@Model.NHibernateSQLServerAverage</b>
                        </td>
                        <td id="EntityFrameworkSQLServerAvgId">
                            <b>@Model.EntityFrameworkSQLServerAverage</b>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="panel panelResult panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#mySQL">@ORMComparer2016.Resources.HomeRsc.MySQL - Czasy</a>
        </h4>
    </div>

    <div id="mySQL" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table" style="text-align:center">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:center">NHibernate</th>
                        <th style="text-align:center">Entity Framework</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.EntityFrameworkMySQL.Count; i++)
                    {
                        <tr>
                            <td>
                                Test @(i + 1)
                            </td>

                            @if (Model.NHibernateMySQL[i] < @Model.EntityFrameworkMySQL[i])
                            {
                                <td class="betterResult">
                                    @Model.NHibernateMySQL[i]
                                </td>
                                <td class="worstResult">
                                    @Model.EntityFrameworkMySQL[i]
                                </td>
                            }
                            else
                            {
                                <td class="worstResult">
                                    @Model.NHibernateMySQL[i]
                                </td>
                                <td class="betterResult">
                                    @Model.EntityFrameworkMySQL[i]
                                </td>
                            }
                        </tr>
                    }

                    <tr>
                        <td>
                            <b>Średnia</b>
                        </td>
                        <td id="NHibernateMySQLAvgId">
                            <b>@Model.NHibernateMySQLAverage</b>
                        </td>
                        <td id="EntityFrameworkMySQLAvgId">
                            <b>@Model.EntityFrameworkMySQLAverage</b>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>



<script type="text/javascript">

    @if (Model.NHibernateSQLServerAverage < Model.EntityFrameworkSQLServerAverage)
    {
        @: $("#NHibernateSQLServerAvgId").addClass('betterResult');
                                                                    @: $("#EntityFrameworkSQLServerAvgId").addClass('worstResult');
                                                                }
    else
    {
        @: $("#NHibernateSQLServerAvgId").addClass('worstResult');
                                                                    @: $("#EntityFrameworkSQLServerAvgId").addClass('betterResult');
                                                                }

    @if (Model.NHibernateMySQLAverage < Model.EntityFrameworkMySQLAverage)
        {
            @: $("#NHibernateMySQLAvgId").addClass('betterResult');
                                                        @: $("#EntityFrameworkMySQLAvgId").addClass('worstResult');
                                                        }
        else
        {
            @: $("#NHibernateMySQLAvgId").addClass('worstResult');
                                                            @: $("#EntityFrameworkMySQLAvgId").addClass('betterResult');
                                                            }

    $(document).ready(function () {
        $("#ORMLi").addClass('active');
    });

</script>
