﻿<div>

    <button type="button" class="btn btn-success ribbon" onclick="document.location ='@Url.ActionAbsolute(MVC.ReadTest.Index())'">
        @ORMComparer2016.Resources.HomeRsc.TestReadBtn
    </button>

    <br />
    <br />

    <button type="button" class="btn btn-primary ribbon" onclick="document.location ='@Url.ActionAbsolute(MVC.InsertTest.Index())'">
        @ORMComparer2016.Resources.HomeRsc.TestWriteBtn
    </button>
    <br />
    <br />

    <button type="button" class="btn btn-warning ribbon" onclick="document.location ='@Url.ActionAbsolute(MVC.UpdateTest.Index())'"
            >@ORMComparer2016.Resources.HomeRsc.TestUpdateBtn
    </button>
    <br />
    <br />

    <button type="button" class="btn btn-danger ribbon" onclick="document.location ='@Url.ActionAbsolute(MVC.DeleteTest.Index())'"
            >@ORMComparer2016.Resources.HomeRsc.TestDeleteBtn
    </button>
</div>


<link rel="stylesheet" type="text/css" href="@Links.Content.ribbonButtons_css.Remove(0,1)" />


<script type="text/javascript">

    $(document).ready(function () {
        $("#ORMLi").addClass('active');
    });

</script>

