﻿@model ORMComparer2016.ViewModel.Home.HomeVM

<p style="text-align:center; font-size: 20px">
    Witam na stronie głównej aplikacji testowej, <br />
     służącej do analizy wydajności rozwiązań ORM <br/>
    na platformie .NET!
</p>

<br/>
<br/>
<br/>

<div>
    Statusy połączeń
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>SQL Server</th>
                <th>MySQL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    NHibernate
                </th>
                <td>
                    <span class="label label-danger" id="NHSQL">@Model.NHibernateSQLServerConnectionStatus</span>
                </td>
                <td>
                    <span class="label label-danger" id="NHMYSQL">@Model.NHibernateMySQLConnectionStatus</span>
                </td>
            </tr>
            <tr>
                <th>
                    Entity Framework
                </th>
             <td>
                 <span class="label label-danger" id="EFSQL">@Model.EntityFrameworkSQLServerConnectionStatus</span>
            </td>
            <td>
                <span class="label label-danger" id="EFMYSQL">@Model.EntityFrameworkMySQLConnectionStatus</span>
            </td>
        </tr>
    </tbody>
    </table>
</div>


<a href="@Url.Action(MVC.Home.RefreshConfiguration())" class="btn btn-warning" style="float:right">
    @ORMComparer2016.Resources.HomeRsc.Refresh
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
</a>

<script type="text/javascript">

    $(document).ready(function () {
        $("#HomeLi").addClass('active');

    @if (Model.IsNHibernateSQLServerConnection)
        {
          @:  $("#NHSQL").removeClass('label-danger');
          @:  $("#NHSQL").addClass('label-success');
        }

       @if (Model.IsNHibernateMySQLConnection)
       {
          @:  $("#NHMYSQL").removeClass('label-danger');
          @:  $("#NHMYSQL").addClass('label-success');
       }

       @if (Model.IsEntityFrameworkSQLServerConnection)
       {
           @:  $("#EFSQL").removeClass('label-danger');
           @:  $("#EFSQL").addClass('label-success');
       }

       @if (Model.IsEntityFrameworkMySQLConnection)
       {
           @:  $("#EFMYSQL").removeClass('label-danger');
           @:  $("#EFMYSQL").addClass('label-success');
       }

    });

</script>
