﻿<div style="width:100%">
    <div style="float:left">
        <p>Nazywam się Dawid Szustak, mam 25 lat i mieszkam w Chorzowie.</p>

        <p>
            Od 3 lat pracuję jako programista aplikacji webowych w technologii ASP .NET MVC. <br />
            W swojej pracy zwodowej używałem zarówno NHibernate oraz Entity Framework, <br />
            stąd pojawił się pomysł by porównać narzędzia ORM na platformę .NET pod kątem funkcjonalności  <br />
            i wydajności.
        </p>

    </div>

    <div style="float:right">
        <img src="./../Content/Images/szustak.jpg" />
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function()
    {
        $("#AboutLi").addClass('active');
    });

</script>
