﻿@model ORMComparer2016.ViewModel.Test.TestVM
@using ORMComparer2016.Constants;

<link rel="stylesheet" type="text/css" href="@Links.Content.funkyRadio_css.Remove(0,1)" />

@using (Html.BeginForm(MVC.InsertTest.Index(), FormMethod.Post))
{
    <div class="panel panelCenter panel-info">
        <div class="panel-heading">
            @ORMComparer2016.Resources.HomeRsc.TestWriteBtn
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    @ORMComparer2016.Resources.HomeRsc.RecordCount
                    <input type="number" id="RecordCount" name="RecordCount" min="1" max="9999999" style="float:right;width:98px" step="1" value="10" required />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    @ORMComparer2016.Resources.HomeRsc.TestCount
                    <input type="number" id="TestCount" name="TestCount" min="1" max="9999999" style="float:right;width:98px" step="1" value="1" required />
                </div>
            </div>

            <div class="funkyradio">
                <div class="funkyradio-primary">
                    <input type="radio" name="TestTable" value="@TestTableConst.Contractor" id="radio" checked />
                    <label for="radio">@TestTableConst.Contractor</label>
                </div>
                <div class="funkyradio-success">
                    <input type="radio" name="TestTable" value="@TestTableConst.Employee" id="radio2" />
                    <label for="radio2">@TestTableConst.Employee</label>
                </div>
             </div>

                <br />
                <br />

                <button type="submit" class="btn btn-primary" style="width:100%">
                    @ORMComparer2016.Resources.HomeRsc.RunTest
                </button>

            </div>
        </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#ORMLi").addClass('active');
    });

    RecordCount.oninput = function () {
        if (this.value.length > 7) {
            this.value = this.value.slice(0, 7);
        }
    }

    TestCount.oninput = function () {
        if (this.value.length > 7) {
            this.value = this.value.slice(0, 7);
        }
    }

</script>