﻿html, body {
  height: 95%;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 95%;
}

input,
select,
textarea {
    max-width: 280px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

.content {
   height: auto;
   min-height: 500px;
}
.footer {
    text-align: center;
}

.panelCenter
{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    min-width:400px;
}

.row
{
    margin-bottom: 10px;
}

.betterResult
{
    color: forestgreen;
}

.worstResult
{
    color: red;
}